<a href="https://colab.research.google.com/github/IchchhaRangoliya/EDA-on-different-dataset/blob/main/Copy_of_10_Exploring_More_Data_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Complete the given task using Pandas** ⏰

About **Dataset**

India has the largest film industry in the world, in terms of number of films released with 1,500 and 2,000 movies a year across 20 languages. This thing motivate me to create dataset about Indian movies. Here I scrap the data from a website which has information about different India's film industries like Bollywood, Tollywood, Kollywood, Sandalwood, Mollywood etc.
Following task that you can perform on this dataset.

```
Data cleaning
Data preprocessing
Visualization (Optional)
This dataset contains details of over 50000+ Indian movies attributes such as ID,Movie Name, Year, Language, Timing(min), Rating(10), Votes and Genre.

```

In [ ]:
!wget "https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/indian%20movies.csv"

--2022-10-02 05:48:53--  https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/indian%20movies.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3408201 (3.2M) [text/plain]
Saving to: ‘indian movies.csv’

indian movies.csv   100%[===================>]   3.25M  --.-KB/s    in 0.07s

2022-10-02 05:48:54 (46.9 MB/s) - ‘indian movies.csv’ saved [3408201/3408201]

<hr>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/indian%20movies.csv")

In [ ]:
df.head(50)

,ID,Movie Name,Year,Timing(min),Rating(10),Votes,Genre,Language
0,tt0398974,Dr. Shaitan,1960,-,-,-,-,hindi
1,tt1702558,Nadir Khan,1968,-,-,-,-,urdu
2,tt0493437,Apna Sapna Money Money,2006,134 min,5.3,"1,892","Comedy, Musical, Romance",hindi
3,tt0273405,Aag Aur Sholay,1987,-,2.2,20,-,urdu
4,tt0049595,Parivar,1956,-,7.4,21,"Comedy, Drama, Family",hindi
5,tt2930026,Humraah: The Traitor,2008,-,-,-,Thriller,hindi
6,tt6597160,Jacqueline I Am Coming,2019,112 min,7.9,16,Drama,hindi
7,tt0829459,A Mighty Heart,2007,108 min,6.6,"26,885","Biography, Drama, History",urdu
8,tt0154875,Midnight Mail,1939,-,-,-,Action,hindi
9,tt0364628,Raktalekha,1992,175 min,6.3,12,Drama,bengali
10,tt0364733,Veedevadandi Babu,1997,138 min,5.6,218,Comedy,telugu
11,tt8272296,A Mayalu Timi Lai,2018 Video,-,-,-,"Short, Music",nepali
12,tt5684550,Da Tang Xuan Zang,2016,90 min,6.2,379,"Biography, History",sanskrit
13,tt0250733,Sikandar,1976,-,-,-,-,hindi
14,tt1407272,Pehla Qadam,1958,-,-,-,-,urdu
15,tt0318983,Amman Koil Kizhakkaalae,1986,141 min,6.9,63,Drama,tamil
16,tt3148392,Shatru,2013,-,4.5,11,"Action, Thriller",kannada
17,tt7836398,Kamal Khatri Feat. Simpal Kharel: Jaula Relaima,2017 Video,5 min,-,-,"Short, Music",nepali
18,tt0376353,Zinda Jala Doonga,1988,-,-,-,Action,hindi
19,tt2302945,Tukaram,2012,156 min,7.3,231,"Biography, Drama, History",marathi
20,tt6517874,Ramante Edenthottam,2017,122 min,6.0,459,"Comedy, Drama, Romance",malayalam
21,tt0150519,Faslah,1974,-,-,-,"Crime, Drama, Romance",hindi
22,tt4820566,Jawani Ki Ghabrahat,1991,-,-,-,Thriller,hindi
23,tt0318296,Anbu Chinnam,1990,-,-,-,-,tamil
24,tt12717866,Naveed,2020,57 min,-,-,Documentary,urdu
25,tt12701012,Ramudu Bheemudu,1988,141 min,-,-,Drama,telugu
26,tt3466016,Vaade Kavali,2009,-,-,-,Romance,telugu
27,tt4654666,Aakhri Muqabla,1978,-,-,-,Action,hindi
28,tt1319563,Dracula,1999,92 min,4.1,16,Horror,hindi
29,tt0398130,Jahanara,1935,-,-,-,-,hindi
30,tt0065764,Geet,1970,-,7.1,98,"Action, Crime, Musical",hindi
31,tt2707908,Sej Piya Ki,1985,-,-,-,Drama,hindi
32,tt3509698,Sati Sita Luv Kush,1981,-,-,-,Drama,hindi
33,tt1575647,Nuvvu Vasthavani,2000,158 min,6.6,160,"Family, Romance",telugu
34,-,Jam,NaN,-,-,-,Drama,bengali
35,tt0357879,Madadgaar,1987,-,5.4,11,"Action, Crime, Drama",hindi
36,tt1827428,Hamra Se Biyah Karba,2003,-,-,-,Drama,bhojpuri
37,tt0351354,Milan Ki Raat,1967,-,4.4,7,"Drama, Romance",hindi
38,tt0213519,Bhool Bhulaiyan,1933,-,6.0,6,Comedy,hindi
39,tt0246905,Saajan Chale Sasural,1996,134 min,6.0,"1,312","Comedy, Drama",hindi
40,tt1582519,Khaleja,2010,170 min,7.6,"8,284","Action, Comedy, Fantasy",telugu
41,tt6682124,Rogue,II 2017,134 min,5.1,118,"Action, Thriller",kannada
42,-,Shaan,NaN,166 min,-,-,Action,hindi
43,tt6882630,Bhale Bullodu,1995,-,-,-,Drama,telugu
44,tt0397478,Jaal,1973,-,-,-,Musical,urdu
45,tt0464849,Yuvakudu,2000,145 min,6.9,110,Romance,telugu
46,tt13276010,Goolihatti,2015,156 min,-,-,Drama,kannada
47,tt0139306,Hamara Ghar,1950,-,-,-,-,hindi
48,tt10515954,Olessia,2019,120 min,8.1,40,"Drama, Musical",malayalam
49,tt5159256,Prohibited,2015,12 min,8.2,25,"Short, Drama, Thriller",urdu

In [ ]:
df.describe()

,ID,Movie Name,Year,Timing(min),Rating(10),Votes,Genre,Language
count,50602,50602,49041,50602,50602,50602,50602,50602
unique,46106,42442,579,259,92,2951,718,19
top,-,Alif Laila,2018,-,-,-,Drama,hindi
freq,2508,167,1934,25892,26926,26925,13529,14350

# **Perform the following task on Dataset using Pandas** 🐼

## Change **Timing(min)** column name to **runTime**

In [ ]:
# Answer Here

In [ ]:
change=df.rename(columns={"Timing(min)":"runtime"},inplace=True)
change

## Change **multiple columns** in **single line** 
1. **Rating(10)** to **ratings**
2. **Votes** to **votes**
3. **Movie Name** to **movie**

In [ ]:
# Answer Here

In [ ]:
change=df.rename(columns={"Rating(10)":"rating","Votes":"votes","Movie Name":"movie"},inplace=True)
change

## Count number of movies having **NULL** runTime

In [ ]:
# Answer Here

In [ ]:
df["runtime"].isnull().sum()

0

## Print the runTime which is **most common**

In [ ]:
# Answer Here

In [ ]:
df["runtime"].value_counts()

-            25892
120 min        835
130 min        660
140 min        642
135 min        627
             ...
209 min          1
1,008 min        1
1,716 min        1
2,288 min        1
212 min          1
Name: runtime, Length: 259, dtype: int64

In [ ]:
df["runtime"].mode()

0    -
Name: runtime, dtype: object

## Print the movie Name which have the **Highest runTime**

In [ ]:
# Answer Here

In [ ]:
a=df["runtime"].unique()

In [ ]:
for i in range(len(df)):
    a=df["movie"][i]
    b=df["runtime"][i]
    if b=='2,565 min':
        print(a)

Pepsi Top of the Pops

In [ ]:
a = df[df['movie'] == 'Sarkar Sahab Aka Evicted Lord']
print(a)

              ID                          movie       Year  runtime rating  \
30209  tt3883040  Sarkar Sahab Aka Evicted Lord  2007–2008  936 min    8.8
44151  tt3883040  Sarkar Sahab Aka Evicted Lord  2007–2008  936 min    8.8

      votes              Genre Language
30209     5  Drama                oriya
44151     5  Drama                 urdu

## Print the movie name with **Longest title**

In [ ]:
# Answer Here

In [ ]:
l = 0
l1 = []
a = df['movie']
for i in a:
    if len(i) > l:
        l = len(i)
        l1.append(i)
print(l1[-1])

Shree Shree Rajadhiraja Shree Shree Madana Kamaraja Shree Shree Vilasa Raja Shree Shree Madhubana Raja Shree Shree Krishnadeva Donga Raja

In [ ]:
# # Answer Here
# l = []
# for i in df['runtime']:
#   if i[0] != "-":
#     l.append(i)

# l1 = []
# for i in l:
#   if i not in l1:
#     l1.append(i)
# print(l1)

# l2 = []
# for i in l:
#   a = i[:3]
#   l2.append(a)
# print(l2)
# l3 = []
# for i in l2:
#   if i.isdigit():
#     l3.append(i)

# a = 0
# for i in l3:
#   i = int(i)
#   if i > a:
#     a = i
# print(a)

# b2 = []
# for i in range(len(df)):
#   b = df['runtime'][i]
#   if str(a) in b:
#     b1 = df['movie'][i]
#     b2.append(b1)
# print(b2)

# a = df[df['movie'] == 'Sarkar Sahab Aka Evicted Lord']
# print(a)

## Count the **movies** with respect to their **languages**

In [ ]:
# Answer Here

In [ ]:
a=df.groupby(df["Language"])

In [ ]:
df["Language"].value_counts()

hindi        14350
malayalam     6200
tamil         6000
telugu        5300
bengali       4200
urdu          3447
kannada       3233
marathi       2300
punjabi       1800
nepali        1000
oriya          850
gujarati       700
bhojpuri       500
assamese       450
rajastani      100
sanskrit        48
kashmiri        43
konkani         43
tulu            38
Name: Language, dtype: int64

## List all the **action movies** which where released in **1995 to 1997**

In [ ]:
# Answer Here

In [ ]:
# a=np.where(df["Year"]>=1995)
# a

In [ ]:
for i in df["Year"]:
    if i=="1995" and i=="1997":
        print(i)

In [ ]:
df["Year"].value_counts()[:50]

2018    1934
2019    1892
2017    1678
2016    1509
2015    1339
2020    1284
2014    1269
2021    1156
2013    1134
2010     974
2012     963
2011     905
2009     820
2008     785
2005     759
2007     692
2006     654
1991     637
2003     636
1985     636
2004     629
1990     618
2002     607
1984     607
1989     595
1982     594
1992     593
1986     579
2001     575
1983     573
1981     571
1988     570
1993     570
1978     551
1987     543
1980     525
2000     522
1979     510
1994     487
1995     480
1977     450
1999     444
1997     429
1998     427
1996     427
1975     420
1976     404
1971     393
1968     393
1974     387
Name: Year, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50602 entries, 0 to 50601
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        50602 non-null  object
 1   movie     50602 non-null  object
 2   Year      49041 non-null  object
 3   runtime   50602 non-null  object
 4   rating    50602 non-null  object
 5   votes     50602 non-null  object
 6   Genre     50602 non-null  object
 7   Language  50602 non-null  object
dtypes: object(8)
memory usage: 3.1+ MB

In [ ]:
df.shape

(50602, 8)

In [ ]:
df["Year"]

0        1960
1        1968
2        2006
3        1987
4        1956
         ...
50597    1984
50598    1971
50599    1936
50600    1990
50601    2009
Name: Year, Length: 50602, dtype: object

## Count Total **Comedy Movies**

In [ ]:
# Answer Here

In [ ]:
df["Genre"].value_counts()

Drama                                       13529
-                                            8581
Action                                       2464
Comedy                                       2172
Romance                                      2032
                                            ...
Musical, Adventure, Drama                       1
Action, Thriller, Western                       1
Documentary, Family, Musical                    1
Biography, Music                                1
Horror, Fantasy                                 1
Name: Genre, Length: 718, dtype: int64

## Count the movies which have ratings less then 3

In [ ]:
# Answer Here

In [ ]:
count=0
for i in range(len(df)):
    a=df["movie"][i]
    b=df["rating"][i]
    if b<'3.0':
        count+=1
print(count)

27402

## List the Hightest rated Movies per decade

```
1940s : Moive Name : rating
1950s : Movie Name : rating
1960s : Movie Name : rating
1970s : Movie Name : rating
1980s : Movie Name : rating
.
.
.
```

In [ ]:
# Answer Here

In [ ]:
df["rating"].replace('-',0,inplace=True)

In [ ]:
a=df["rating"].astype(float)

In [ ]:
a.sort_values(ascending=False)[0:20]

23850    10.0
42441    10.0
34577    10.0
23887    10.0
31301    10.0
32076    10.0
39105    10.0
7812     10.0
30151    10.0
12028     9.9
11575     9.9
5105      9.9
729       9.9
31833     9.8
3660      9.8
45152     9.8
46237     9.8
33642     9.8
49819     9.8
12685     9.8
Name: rating, dtype: float64

In [ ]:
for i in range(len(df)):
    a=df["movie"][i]
    b=df["Year"][i]
    if i==23850:
        print(b,a)

2021 Bihari Binani

In [ ]:
a=df["movie"][23850],df["Year"][23850]
b=df["movie"][42441],df["Year"][42441]
c=df["movie"][34577],df["Year"][34577]
d=df["movie"][23887],df["Year"][23887]
e=df["movie"][31301],df["Year"][31301]
f=df["movie"][32076],df["Year"][32076]
g=df["movie"][39105],df["Year"][39105]
h=df["movie"][7812],df["Year"][7812]
i=df["movie"][30151],df["Year"][30151]

In [ ]:
print(a,b,c,d,e,f,g,h,i)

('Bihari Binani', '2021') ('Antak', '2019') ('An Extraordinary Journey', '2018') ('Marasim - Beyond Borders', '2020') ('Harsukh', '2021') ('Ashi Fasli Nanachi Tang', '2011') ('Harsukh', '2021') ('Ilu-Ilu', '2020') ('Marasim - Beyond Borders', '2020')

## Find the movie with most votes in Bengali Language

In [ ]:
# Answer Here

In [ ]:
l=[]
for i in range(len(df)):
    a=df["Language"][i]
    b=df["votes"][i]
    if a=="bengali":
        l.append(b)

In [ ]:
a=pd.Series(l)

In [ ]:
a.sort_values(ascending=False)

3008    996
1630    993
3658    993
2079     99
3063     99
       ...
1125      -
2619      -
2618      -
2617      -
2100      -
Length: 4200, dtype: object

In [ ]:
a.unique()

array(['12', '-', '8', '402', '267', '10', '6', '198', '133', '197',
       '145', '852', '9', '367', '91', '23', '27', '43', '58', '55',
       '1,045', '46', '212', '15', '154', '19', '107', '40', '1,944',
       '56', '24', '627', '30', '5', '1,243', '41', '11', '110', '39',
       '415', '70', '229', '1,068', '2,196', '13', '64', '317', '29',
       '182', '14', '173', '21', '164', '216', '571', '183', '48',
       '3,508', '71', '7', '180', '47', '547', '432', '54', '382', '334',
       '292', '743', '178', '625', '20', '57', '241', '1,315', '26',
       '479', '135', '243', '1,118', '25', '16', '32', '1,439', '44',
       '444', '167', '38', '35', '157', '272', '122', '258', '1,049',
       '265', '545', '31', '330', '68', '937', '150', '73', '17', '18',
       '1,426', '84', '88', '61', '1,348', '170', '505', '106', '66',
       '4,719', '80', '42', '72', '63', '490', '822', '36', '161', '141',
       '138', '121', '245', '100', '85', '144', '447', '375', '194', '52',
       '81', '203', '76', '1,460', '739', '652', '213', '223', '69', '22',
       '576', '139', '410', '1,097', '790', '608', '462', '125', '2,818',
       '214', '28', '441', '160', '500', '5,245', '288', '53', '45',
       '2,547', '1,904', '131', '1,751', '583', '593', '4,190', '65',
       '77', '843', '94', '204', '60', '102', '67', '49', '257', '1,075',
       '437', '546', '331', '1,356', '105', '116', '855', '1,395', '449',
       '124', '162', '196', '711', '83', '101', '171', '353', '977',
       '4,253', '34', '542', '356', '1,052', '2,588', '117', '93', '166',
       '1,482', '2,356', '3,549', '62', '618', '595', '1,107', '371',
       '1,312', '148', '3,036', '1,037', '115', '845', '764', '544',
       '307', '108', '12,386', '205', '329', '33', '578', '79', '2,048',
       '129', '237', '266', '682', '74', '273', '51', '366', '78', '99',
       '443', '950', '304', '128', '1,566', '309', '142', '146', '397',
       '89', '2,406', '398', '1,252', '177', '800', '193', '619', '299',
       '282', '297', '806', '153', '581', '159', '289', '227', '457',
       '523', '59', '303', '858', '191', '8,542', '37', '993', '322',
       '1,088', '217', '653', '605', '327', '1,653', '1,136', '519',
       '206', '1,572', '461', '390', '1,584', '136', '109', '700', '377',
       '919', '185', '373', '333', '111', '126', '1,919', '181', '467',
       '394', '434', '392', '211', '147', '348', '718', '582', '230',
       '1,266', '130', '1,263', '552', '119', '226', '1,890', '1,138',
       '277', '218', '401', '2,290', '1,173', '2,767', '791', '374',
       '228', '408', '596', '1,756', '1,057', '82', '134', '137', '219',
       '2,108', '174', '165', '856', '413', '5,291', '276', '310', '246',
       '143', '188', '406', '240', '75', '763', '728', '3,317', '1,535',
       '1,510', '302', '1,137', '339', '380', '896', '801', '1,171', '98',
       '4,938', '24,153', '354', '658', '391', '2,886', '1,611', '494',
       '248', '113', '1,456', '87', '833', '549', '233', '515', '476',
       '1,434', '420', '404', '96', '326', '231', '2,239', '168', '290',
       '501', '149', '674', '222', '253', '3,744', '996', '250', '782',
       '295', '862', '242', '261', '103', '308', '418', '298', '195',
       '466', '477', '1,295', '598', '23,557', '151', '724', '200', '269',
       '264', '403', '1,209', '3,517', '118', '2,047', '2,331', '278',
       '336', '1,116', '399', '209', '556', '175', '3,840', '478', '202',
       '661', '502', '11,954', '283', '881', '510', '428', '97', '1,046',
       '6,499', '1,241', '251', '885', '340', '321', '860', '826', '716',
       '365', '294', '965', '363', '359', '1,910', '163', '780', '872',
       '368', '1,516', '284', '179', '86', '232', '512', '622', '132',
       '186', '1,716', '140', '285', '694', '2,123', '873', '2,475',
       '1,664', '844', '3,093', '2,510', '985', '224', '857', '817',
       '442'], dtype=object)

In [ ]:
b=a.replace('-',0)

In [ ]:
c=b.unique()

In [ ]:
c.sort_values(ascending=True)[150:200]

307      1
544      1
845      1
1,566    1
309      1
397      1
2,406    1
398      1
1,252    1
443      1
177      1
193      1
619      1
299      1
282      1
806      1
581      1
227      1
800      1
457      1
366      1
682      1
3,549    1
618      1
595      1
1,107    1
1,312    1
3,036    1
1,037    1
273      1
111      1
1,460    1
333      1
653      1
822      1
141      1
121      1
245      1
1,348    1
144      1
1,315    1
625      1
852      1
1,045    1
1,944    1
627      1
490      1
1,243    1
1,068    1
241      1
dtype: int64

In [ ]:
l=[]
for i in range(len(df)):
    a=df["votes"][i]
    b=df["movie"][i]
    if a=='24,153':
        l.append(b)

In [ ]:
l

['Pather Panchali']

In [ ]:
c=b.value_counts()

In [ ]:
c

0        2155
8         111
5         101
6          89
10         84
         ...
397         1
309         1
1,566       1
950         1
442         1
Length: 487, dtype: int64

In [ ]:
c.sort_values(ascending=True)

233         1
288         1
2,547       1
1,904       1
1,751       1
         ...
10         84
6          89
5         101
8         111
0        2155
Length: 487, dtype: int64